
@media (max-width: 992px) {

  .header-navbar {
    gap: 10px;
  }
  .navbar-list {
    margin-top: 83px;
  }
  .navbar-list li {
    font-size: 18px;
  }

  .cart-icon {
    border: 0px solid;
  }

  .cart{
    top: 149px;
    height: calc(100vh - 149px);
  }

  .navbar-list {
    min-width: 300px;
    position: absolute;
    top: 65px;
    left: 0%;
    width: 30%;
    flex-direction: column;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }

  #headerlupa {
    display: none;
  }
  .header_search{
    display: none;
  }
  .navbar-list a {
    font-size: 18px;
  }

 
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  .open-menu {
    display: flex;
    background-color: #011825;
  }

  .categories {
    flex-wrap: wrap;
    max-width: 390px;
  }

  .category {
    width: 120px;
  }
}


@media (max-width: 576px) {
  
  .cart {
    left: 0;
    width: 100%;
    border: none;
    top: 110px;
    height: calc(100vh - 110px);
  }
  .cart-container {
    gap: 5px;
  }
  .navbar-list{
    margin-top: 46px
  }
  .cart-item {
    flex-wrap: wrap;
    padding: 10px;
  }

  .header_logo {
    width: 100px;
  }

  .header-cart span{
    font-size: 30px;
  }

  .categories {
    max-width: 300px;
    justify-content: center;
    align-items: center;
  }

  .category {
    width: 120px;
  }

  .products-container {
    width: 80%;
  }

  .product {
    width: 100%;
  }

  .product-info h3,
  .product-info p,
  .product-info span {
    font-size: 14px;
  }

  .product-user img {
    height: 24px;
  }

}

@media (max-width: 450px) {

  .navbar-list{
    margin-top: 46px
  }
  .cart{
    top: 110px;
    height: calc(100vh - 110px);
    min-width: 300px;
    padding: 10px;
  }
  .cart-container {
    align-items: center;
  }
  .cart-item {
    width: 70%;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
  }
  .item-info {
    text-align: center;
  }
}
