@media (max-width: 1020px){
    .img-logo-empresa {
        width: 120px;
    }
    .search input {
        width: 300px;
        height: 28px;
        font-size: 16px;
    }
    .user {
        gap: 20px;
    }
    #headerlupa {
        font-size: 20px;
        color: var(--secondary);
    }
    .user .material-symbols-outlined {
        font-size: 30px;
    }
    .header-nav ul {
        gap: 30px;
        font-size: 15px;
    }




    .main h2 {
        font-size: 25px;
    }
    .card {
        width: 200px;
    }






    .aboutUS h2 {
        font-size: 25px;
    }
    .about img {
        width: 50px;
    }


    .footer {
        font-size: 15px;
    }
}


@media (max-width: 650px){
    .header-principal {
        justify-content: space-around;
        border-bottom: 0px;
    }
    .menu-burger span {
        display: flex;
        color: var(--primary);
    }
    .nav-burger {
        display: block;
    }
    .img-logo-empresa {
        width: 100px;
    }
    .search {
        display: none;
    }

    .user {
        gap: 10px;
    }
    .user p{
        font-size: 13px;
    }
    .user .material-symbols-outlined {
        font-size: 25px;
    }
    .header-nav  {
        display: none;
    }


    .slideshow-container img {
        height: 350px;
    }
    .text {
        font-size: 15px;
    }


    .main {
        padding-top: 60px;
    }
    .categories {
        gap: 10px;
        flex-wrap: wrap;
    }
    .categories button {
        width: 85px;
        height: 30px;
        font-size: 12px;
    }
    .main h2 {
        font-size: 23px;
    }
    .card {
        width: 200px;
    }






    .aboutUS h2 {
        font-size: 23px;
    }
    .about img {
        width: 40px;
    }


    .footer {
        display: flex;
        font-size: 15px;
        flex-wrap: wrap;
        text-align: center;
    }
    
}